{% extends 'base.html' %}

{% block content %} 

<h2>Companies</h2>

<table class="table table-stripped">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th>Company</th>
            <th>Country</th>
        </tr>
        {% for company in companies %}
        <tr>
            <td>{% if company.logo %}<img src="{{company.logo}}" width="200">{% endif %}</td>
            <td>{{company.company}}</td>
            <td>{{company.country}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

