{% extends 'base.html' %}

{% block content %} 

<h2>Launches</h2>

<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>Mission</th>
            <th>Vehicle</th>
            <th>Spaceport</th>
            <th>Start date</th>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    </tbody>
</table>


{% endblock %}

 = Column(Integer, ForeignKey("vehicle.id"))
     = Column(Integer, ForeignKey("spaceport.id"))

    orbit = Column(String(16), unique = True)
    webcast = Column(String(64))
    description = Column(String(512))
    window_from = Column(DateTime)
    window_start = Column(DateTime)
    window_to = Column(DateTime)

