{% extends 'base.html' %}

{% block content %} 

<h2>Spaceports</h2>

<table class="table table-stripped">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>Spaceport</th>
            <th>Complex</th>
            <th>Country</th>
            <th>Geo</th>
        </tr>
        {% for port in ports %}
        <tr>
            <td>{{ port.spaceport }}</td>
            <td>{{ port.complex }}</td>
            <td>{{ port.country }}</td>
            <td><a href="https://maps.google.com/maps?q={{port.latitude}},{{port.longitude}}">{{port.latitude}}, {{port.longitude}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}



