{% extends 'base.html' %}

{% block content %} 

<h2>Vehicles</h2>

<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th>Vehicle</th>
            <th>Modification</th>
            <th>Manufacturer</th>
        </tr>
        {% for vehicle in vehicles %}
        <tr>
            <td>{% if vehicle.logo %}<img src="{{vehicle.logo}}" height="200">{% endif %}</td>
            <td>{{ vehicle.vehicle }}</td>
            <td>{{ vehicle.modification }}</td>
            <td>{{ vehicle.company }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}




